body {
    text-align: left;
    background-color: rgb(14, 48, 7);
    }
    header {
        text-align: center;
        background-color: rgba(72, 25, 241, 0.63);
    }
    
    footer {
    background-color: rgb(46, 7, 219));
    
    }
 body {
    min-height: 400vh;
    max-width: 1000px;
} 


ul {
  width: 50%;
}

nav li, nav a {

  list-style: none;
  text-decoration: none;
  display: block;
}

img {
  width: 90%;
}

#hero {
  width: 70%;
}

.lower {
  max-width: 30%;
  display: inline-block;
  border: 3px solid green;
  margin-right: 20px;
}

main {
  margin: 20px;
}

h1 {
  float: center;
}

header {
  background-color: #66c5ed;
  height: 75px;
}

footer{
    text-align:center;
    background-color: rgb(224, 206, 209);
    height: 100px;
