body {
     background-color: #89f772;
}

header {
       background-color: rgba(72, 25, 241, 0.63);
}

footer {
       background-color: rgb(46, 7, 219);
}

body {
     min-height: 1000vh;
     max-width: 1000px;
} 

h1 {
   text-align: center;
   color: blue;
   text-shadow: 15px 15px 15px white;
   font-size: 40px; 
}

h2 {
   text-align: center;
   color: blue;
   text-shadow: 5px 5px 5px white;
   font-size: 25px; 
}

nav li a {
    color: darkgreen;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    cursor:pointer;
}

main {
     width: 960px;
     margin: 30px auto;
     min-height: 700px;
}
