 body {
    background-color: rgb(14, 48, 7);
    }
    header {
        background-color: rgba(72, 25, 241, 0.63);
    }
    footer {
    background-color: rgb(46, 7, 219);
    }
    body {
    min-height: 400vh;
    max-width: 1000px;
} 

h1{
    float: center;
    margin-left: 20px;
    margin-right: 50px;
    color: blue;
    text-shadow: 5px 5px 5px white;
}
