body {
    text-align: left;
    background-color: rgb(14, 48, 7);
    }

    header {
        text-align: center;
        background-color: rgba(72, 25, 241, 0.63);
    }
    
 body {
    min-height: 400vh;
    max-width: 1000px;
} 


ul {
  width: 50%;
}

nav li, nav a {

  list-style: none;
  text-decoration: none;
  display: block;
  text-decoration-color: blue; 



main {
  margin: 30px;
}

h1 {
  float: center;
}

header {
  background-color: #66c5ed;
  height: 50px;
}

footer{
    text-align:center;
    background-color: rgb(224, 206, 209);
    height: 100px;
   text-decoration-color: red;
